@import "../css/navigation.css";
@import "../css/global.css";
@import "./button.css";
@import "./footer.css";
.award-winning-main {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--peach-color);
  border-radius: 10px;
  position: relative;
  background-repeat: no-repeat;
  margin-bottom: 16rem;
  padding-left: 9.5rem;
}
.circle {
  position: absolute;
  left: 40.7rem;
  top: 5px;
}
.award-winning-main h1 {
  font-size: var(--h1-fs);
  line-height: var(--h1-2-ln);
  color: var(--white-color);
}
.award-winning-main p {
  font-size: var(--p-fs);
  line-height: var(--p-ln);
  width: 54rem;

  padding-top: 2.1rem;
  color: var(--white-color);
}
.button {
  padding-top: 4rem;
}
.design-main {
  display: flex;
  gap: 3rem;
}

.web-design,
.app-design,
.graphic-design {
  text-align: center;
  color: var(--white-color);
  border-radius: 10px;
  width: 54.1rem;
}

.app-fraphic-design {
  display: flex;
  flex-direction: column;
  gap: 2.4rem;
}
.web-design {
  background-image: url(../images/home/desktop//image-web-design-large.jpg);
  height: 64rem;
}
.web-design h2 {
  padding-top: 32rem;
}

.web-design h2,
.app-design h2,
.graphic-design h2 {
  font-size: var(--h2-fs);
  line-height: var(--h1-2-ln);
}
.app-design,
.graphic-design {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.web-design p,
.app-design p,
.graphic-design p {
  font-size: var(--p-fs);
  line-height: var(--p-ln);
  letter-spacing: var(--h3-ls);
}
.app-design {
  height: 30.8rem;
  background-image: url(../images/home/desktop/image-app-design.jpg);
}
.graphic-design {
  background-image: url(../images/home/desktop/image-graphic-design.jpg);
  height: 30.8rem;
}
.app-design:hover {
  background-image: linear-gradient(
      rgba(244, 69, 5, 0.5),
      rgba(241, 86, 20, 0.5)
    ),
    url(../images/home/desktop/image-app-design.jpg);
}
.web-design:hover {
  background-image: linear-gradient(
      rgba(244, 69, 5, 0.5),
      rgba(241, 86, 20, 0.5)
    ),
    url(../images/home/desktop/image-web-design-large.jpg);
}
.graphic-design:hover {
  background-image: linear-gradient(
      rgba(244, 69, 5, 0.5),
      rgba(241, 86, 20, 0.5)
    ),
    url(../images/home/desktop/image-graphic-design.jpg);
}
.passionate-resourceful-frendly-main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16rem;
}
.passionate-resourceful-frendly {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 35rem;
}
.passionate-resourceful-frendly h3 {
  font-size: var(--h3-fs);
  line-height: 2.6rem;
  padding-top: 4.8rem;
  padding-bottom: 3.2rem;
  text-transform: uppercase;
}
.passionate-resourceful-frendly p {
  font-size: var(--p-fs);
  line-height: var(--p-ln);
  color: var(--dark-gray);
}
.icon-hamburger {
  display: none;
}

/* tablet uchun responsive */

@media screen and (max-width: 1049px) {
  .award-winning-main {
    flex-direction: column;
    padding: 0;
    text-align: center;
    overflow: hidden;
  }
  .button {
    position: relative;
    z-index: 1;
  }
  .award-winning-main h1 {
    max-width: 57.3rem;
    width: 100%;
    padding-top: 6rem;
  }
  .circle {
    left: 45.7rem;
    top: 109px;
  }
  .award-winning-main p {
    max-width: 57.3rem;
    /* width: 80%; */
    text-align: center;
  }
  .award-winning-main img:first-of-type {
    margin-bottom: -15rem;
  }
  .design-main {
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  .web-design,
  .app-design,
  .graphic-design {
    background-image: url(../images/home/tablet/image-web-design.jpg);
    background-repeat: no-repeat;
    /* max-width: 68.9em; */
    max-height: 20rem;
    /* width: 100%; */
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .web-design h2 {
    padding-top: 0;
    text-align: center;
  }
  .app-design {
    background-image: url(../images/home/tablet/image-app-design.jpg);
  }
  .graphic-design {
    background-image: url(../images/home/tablet/image-graphic-design.jpg);
  }
}
/* tablet uchun davomi */
@media screen and (max-width: 850px) {
  .lets-talk-main {
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }
  .lets-talk-title h2 {
    max-width: 100%;
    padding-top: 5.7rem;
  }
  .lets-talk-title p {
    padding-bottom: 3.2rem;
  }
  .passionate-resourceful-frendly-main {
    flex-direction: column;
    justify-content: center;
  }
  .passionate-resourceful-frendly {
    flex-direction: row;
    max-width: 100%;
  }
  .for-tablat-diiv {
    display: flex;
    flex-direction: column;
    justify-content: left;
    text-align: left;
    padding-left: 4.8rem;
    max-width: 43.84rem;
    width: 100%;
  }
}
/* mobile uchun */
@media screen and (max-width: 700px) {
  .lets-talk-btn {
    padding-bottom: 6.4rem;
  }
}
@media screen and (max-width: 600px) {
  .award-winning-main h1 {
    font-size: 3.2rem;
    line-height: 3.6rem;
    max-width: 32.8rem;
    margin: 0 auto;
  }
  .award-winning-main p {
    max-width: 32.7rem;
  }
  .menu {
    display: none;
  }
  .icon-hamburger {
    display: inline;
  }
  .navigation img {
    width: auto;
  }
  .passionate-resourceful-frendly {
    flex-direction: column;
  }
  .for-tablat-diiv {
    justify-content: center;
    text-align: center;
  }
  .designo {
    flex-direction: column;
  }
  .menu-footer {
    flex-direction: column;
    padding-top: 2rem;
  }
  .lets-talk-main {
    margin-bottom: 54.2rem;
  }
  .nav-footer {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 4rem;
  }
}

@media screen and (max-width: 380px) {
  .circle {
    left: 0.7rem;
    top: 5.9rem;
  }
}
